/* Starting point clean margin and padding*/
*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

/* Global vars - fonts & colors */
:root{
	--light-gray-font-clr: #777878;
	--teal-font-clr: #458281;
	--teal-bg-clr: #458281;
	--all-over-font: " Gill Sans", sans-serif;
}

/* Font color & family - h1 & footer*/
h1, h4, p
{
	color: var(--light-gray-font-clr);
	font-family: var(--all-over-font);
}

body{	
	margin: 0 0 0;
	padding: 10px 0;
	background-color: #010a0a;
}

/* nav design stuff, heading/ banner text*/
h1, h4, nav{
	text-align: center;
	margin: 0 0 0;
	padding: 10px 0;
}

/* Paragraph, portfolio page link alignment stuff */
p{
	text-align: center;
	max-width: 700px;
	margin: auto;
}

/*#portfolio_page_link{
	text-align: center;
}*/

 nav ul{
	margin: 0 2px;
	padding: 0;
}

nav li{
	display: inline-block;
	text-align: center;
}


/* additional nav, portfolio link animaiton and design stuff. */
nav a{
	font-family: var(--all-over-font);
	text-transform: lowercase;
	margin: 4px;
	padding: 10px 10px;
	text-decoration: none;
	width: 100px;
	height: 20px;
	border-radius: 40px; 
	line-height: 20px;
	border: 3px solid #458281;
	display: block;
	color: #458281;
	position: relative;
	/*overflow: hidden;   */
	overflow: auto;
	background: transparent;
}

nav a:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--teal-bg-clr);
	top: -100%;
	left: 0;
	z-index: -1;
}

nav a:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--teal-bg-clr);
	top: -100%;
	left: 0;
	z-index: -1;
}

nav a:hover{
	color: #fff; /* text white when hover over*/
}

nav a:hover:before{
	top: 0;
}

nav a:hover:after{
	top: 0;
}



/* main body page container*/
.page_container{
	min-height: 100%;
}




/* Footer design stuff here */
footer ul{
	position: relative;
	height: 100px;
	margin-top: -100px;
	clear:both;
	text-align: center;
}

footer a{
	
	font-family: var(--all-over-font);
	color: var(--light-gray-font-clr);
}


/*.mailto{
	text-decoration: none;
	color: var(--teal-font-clr);

	add this in later 
}*/


h5{
	text-align: center;
	font-size: 15px;
}








