* { 
    background-color:#C0DEED;
    color: black;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-style: italic;
}

.copany_name_container{
    background: transparent;
    top:0px;left:0px;
    width:100%;
    height: 100vh;
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    height: 400px;
}


.slogan_container{
        padding-top: 300px;
        height: 150px;
        position: relative; 
        width: 300px;
        animation: rolling 10s linear forwards; 
        background-color: transparent;
}

.slogan {
    text-transform: uppercase; 
    align-self: center; 
    background-color: #9bcfe8;
    height: 35px; 
    width: 450px;
    position: absolute; 
    animation: slogan 2s linear infinite;
}

@keyframes rolling { 
   0% { left: -10px; top: 50px; }
   50% { left: calc(100% - 1000px); top: 50px; }
   100% { left: calc(50% - 220px); top: 50px; }
}


h2.slogan {}
@keyframes slogan {
    
    0% {
        font-size: 1rem;    
    }
    50% {
        font-size: 2rem;
    }
    100% {
        font-size: 1rem;
    }
}


#sky {
    position: absolute;
    top:0px;
    width:100%;
    height:100%;
    left:0px;
    text-align:center;
    margin:0px;
    padding:0px;
    background: url(clouds.png) center top repeat-x;
    padding-top:300px;
    padding-bottom:10px;
    z-index: 0;
    animation: animate_clouds 15s linear infinite;
}

@keyframes animate_clouds {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

